<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cita-heading" jhiTranslate="iFisioApp.cita.home.createOrEditLabel">Create or edit a Cita</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iFisioApp.cita.fechaHoraCita" for="field_fechaHoraCita">Fecha Hora Cita</label>
                    <div class="d-flex">
                        <input id="field_fechaHoraCita" type="datetime-local" class="form-control" name="fechaHoraCita" formControlName="fechaHoraCita" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iFisioApp.cita.tratamientoCliente" for="field_tratamientoCliente">Tratamiento Cliente</label>
                    <select class="form-control" id="field_tratamientoCliente" name="tratamientoCliente" formControlName="tratamientoCliente">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tratamientoClienteOption.id === editForm.get('tratamientoCliente')!.value?.id ? editForm.get('tratamientoCliente')!.value : tratamientoClienteOption" *ngFor="let tratamientoClienteOption of tratamientoclientes; trackBy: trackById">{{ tratamientoClienteOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
