<div class="row justify-content-center">
    <div class="col-12">
        <div class="col-12">
            <h2 id="jhi-cita-heading" jhiTranslate="iFisioApp.agenda.cliente" *ngIf="cliente != null">
                Cliente {{cliente?.nombre}} {{cliente?.apellidos}}
            </h2>
            <h2 id="jhi-cita-heading" jhiTranslate="iFisioApp.agenda.title" *ngIf="cliente == null">
                Agenda
            </h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" *ngIf="modeSel === 'timeGrid'">
                    <label for="id" jhiTranslate="iFisioApp.agenda.numDias">Numero días</label>
                    <input type="text" class="form-control" [(ngModel)]="dayDuration" (keyup)="changeMode()" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <p-selectButton [options]="mode" [(ngModel)]="modeSel" (ngModelChange)="changeMode()"></p-selectButton> -->
<p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>