<div class="row justify-content-center">
    <div class="col-12">
        <div class="col-12">
            <h2 id="jhi-cita-heading" jhiTranslate="iFisioApp.agenda.cliente" *ngIf="cliente != null">
                Cliente {{cliente?.nombre}} {{cliente?.apellidos}}
            </h2>
            <h2 id="jhi-cita-heading" jhiTranslate="iFisioApp.agenda.title" *ngIf="cliente == null">
                Agenda
            </h2>
        </div>
        <jhi-alert-error></jhi-alert-error>
    </div>
</div>
<div class="p-grid" *ngIf="modeSel === 'timeGrid'">
    <div class="p-col">
        <label for="id" jhiTranslate="iFisioApp.agenda.tratamiento">Tratamiento</label>
        <p-dropdown [options]="tratamientosClientes" [(ngModel)]="tratamientoSel"></p-dropdown>
    </div>
    <div class="p-col">
        <label for="id" jhiTranslate="iFisioApp.agenda.numDias">Numero días</label>
        <input type="text" [(ngModel)]="numDiasPendientes" />
    </div>
</div>

<!-- <p-selectButton [options]="mode" [(ngModel)]="modeSel" (ngModelChange)="changeMode()"></p-selectButton> -->
<p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>

<p-dialog header="Title" [(visible)]="modalCita" modal="true" [style]="{width: '50vw'}">
    <!-- <jhi-cita-update></jhi-cita-update> -->
</p-dialog>